td {
    vertical-align: middle!important;
}
table.custom-table > tbody > tr > td:first-child {
    text-decoration: underline;
}
table.custom-table > tbody > tr > td:first-child:hover {
    cursor: pointer
}
table.child-table {
    margin-bottom:0!important;
}
td.table-container {
    padding: 0!important;
    text-decoration: none!important;
}
tr.table-head {
    height: 65px;
}
.btn-add {
    position: fixed!important;
    right: 20px;
    bottom: 20px;
}
.login .form-group {
    padding-bottom: 7px!important;
    margin: 28px 0 0 0!important;
}
.form-group {
    margin-top: 0!important;
    padding-bottom: 0!important;
}
.form-group select {
    padding: 0;
}
.date-input label {
    display: block;
}
.date-input input {
    display: inline-block;
    width:90%;
}
.date-input span {
    display: inline-block;
    height: 10px;
}
.custom-nav > li:hover{
    color: #fff;
    cursor: pointer!important;
}
.pagination .active a {
    background-color: #f44336!important;
    border-color: #f44336!important;
    outline:none;
}
.opacity-header {
    opacity: 0.4;
}
.error {
    font-size: 12px;
    color: #a94442;
}
span.info-credit-block {
    color: #4caf50;
}
span.info-credit-block > span {
    display: block;
}
