<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1 class="opacity-header">Депозиты</h1>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-add" ng-click="open()"><i class="material-icons">+</i></a>
        <div class="table-responsive well">
            <table class="table table-striped table-hover custom-table">
                <thead>
                    <tr class="table-head">
                        <td>Клиент</td>
                        <td>Депозит</td>
                        <td>Начальная сумма</td>
                        <td>Дата открытия</td>
                        <td>Дата востребования</td>
                        <td>Статус</td>
                        <td>Скачать договор</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in _gridOptions.Items">
                        <td>{{request.Customer.Firstname + ' ' + request.Customer.Lastname}}</td>
                        <td>{{request.Deposit.Name}}</td>
                        <td>{{request.InitialSum + ' BYR'}}</td>
                        <td>{{request.StartDate | date:"MMMM d, y"}}</td>
                        <td>{{request.EndDate | date:"MMMM d, y"}}</td>
                        <td>{{request.IsPaid ? 'Закрыт' : 'Активен'}}</td>
                        <td>
                            <a ng-href="{{request.Contract}}" class="btn btn-warning btn-fab btn-fab-mini" target="_blank">
                                <i class="material-icons glyphicon glyphicon-cloud-download"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <uib-pagination total-items="_gridOptions.TotalItemCount"
                        ng-model="_currentPage" max-size="5"
                        class="pagination pagination-lg"
                        previous-text="«" next-text="»"
                        rotate="false" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>
