<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title">Открыть депозит</h4>
</div>
<div class="modal-body">

    <form>
        <fieldset>

            <div class="form-group is-empty">
                <label for="requestN.InitialSum" class="control-label">Сумма</label>
                <input type="number" class="form-control input-sm" id="requestN.InitialSum" ng-model="requestN.InitialSum" required>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="requestN.MonthCount" class="control-label">Желаемый срок (в месяцах)</label>
                <input type="number" class="form-control input-sm" id="requestN.MonthCount" ng-model="requestN.MonthCount" required>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="deposit" class="control-label">Выберите вклад</label>
                <select class="form-control input-sm" id="deposit" ng-model="deposit" required
                        ng-options="c.Name for c in _deposits"></select>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="requestN.DocumentType" class="control-label">Тип документа</label>
                <input type="text" class="form-control input-sm" id="requestN.DocumentType" value="Паспорт" required disabled>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.DocumentNumber" class="control-label">Номер документа</label>
                <input type="text" class="form-control input-sm" id="customer.DocumentNumber" ng-model="customer.DocumentNumber" required>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.IdentificationNumber" class="control-label">Идентификационный номер</label>
                <input type="text" class="form-control input-sm" id="customer.IdentificationNumber" ng-model="customer.IdentificationNumber" required>
                <span class="material-input"></span>
                <button type="button" class="btn btn-default" ng-click="Set()">Заполнить данные о клиенте</button>
            </div>

            <div class="form-group is-empty">
                <label for="customer.LastName" class="control-label">Фамилия</label>
                <input type="text" class="form-control input-sm" id="customer.LastName" ng-model="customer.Lastname" required>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.FirstName" class="control-label">Имя</label>
                <input type="text" class="form-control input-sm" id="customer.FirstName" ng-model="customer.Firstname" required>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Patronymic" class="control-label">Отчество</label>
                <input type="text" class="form-control input-sm" id="customer.Patronymic" ng-model="customer.Patronymic">
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty date-input">
                <label for="customer.DateOfBirth" class="control-label">Дата рождения</label>
                <input type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model="customer.DateOfBirth" is-open="opened3"
                       ng-required="true" close-text="Close" class="form-control input-sm" id="customer.DateOfBirth" />
                <span class="input-group-btn input-group-sm">
                    <button type="button" class="btn btn-default" ng-click="openCalendar3($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Address.Country" class="control-label">Страна</label>
                <input type="text" class="form-control input-sm" id="customer.Address.Country" ng-model="customer.Address.Country">
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Address.City" class="control-label">Город</label>
                <input type="text" class="form-control input-sm" id="customer.Address.City" ng-model="customer.Address.City">
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Address.Street" class="control-label">Улица</label>
                <input type="text" class="form-control input-sm" id="customer.Address.Street" ng-model="customer.Address.Street">
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Address.House" class="control-label">Дом</label>
                <input type="text" class="form-control input-sm" id="customer.Address.House" ng-model="customer.Address.House">
                <span class="material-input"></span>
            </div>

            <div class="form-group is-empty">
                <label for="customer.Address.Flat" class="control-label">Квартира</label>
                <input type="text" class="form-control input-sm" id="customer.Address.Flat" ng-model="customer.Address.Flat">
                <span class="material-input"></span>
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Готово</button>
</div>
