﻿<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-8">
        <h1 class="opacity-header">Депозитный калькулятор</h1>
        <form>
            <fieldset>

                <div class="form-group is-empty">
                    <label for="inputCredit" class="control-label">Выберите депозит</label>
                    <select class="form-control input-sm" id="inputCredit" ng-model="deposit" required
                            ng-options="d.Name for d in _deposits"></select>
                    <span class="material-input"></span>
                </div>

                <div class="form-group is-empty">
                    <label for="inputPeriod" class="control-label">Введите срок</label>
                    <input type="text" class="form-control input-sm" id="inputPeriod" ng-model="month" required>
                    <span class="material-input"></span>
                </div>

                <div class="form-group is-empty">
                    <label for="inputPercentRate" class="control-label">Процентная ставка</label>
                    <input type="text" class="form-control input-sm" id="inputPercentRate" ng-model="deposit.InterestRate" disabled>
                    <span class="material-input"></span>
                </div>

                <div class="form-group is-empty">
                    <label for="sum" class="control-label">Сумма вклада</label>
                    <input type="number" class="form-control input-sm" id="sum" ng-model="sum" required>
                    <span class="material-input"></span>
                </div>

                <button type="button" class="btn btn-default" ng-click="calc()">Рассчитать</button>
                
            </fieldset>
        </form>
            <div ng-show="capPlan">

                <div class="table-responsive well">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="table-head">
                                <td>Всего на счете</td>
                                <td>Сумма процентов</td>
                                <td>Дата зачисления</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payment in paymentPlan">
                                <td>{{payment.MainSum | number:0}}</td>
                                <td>{{payment.PercentSum | number:0}}</td>
                                <td>{{payment.StartDate | date:"MMMM d, y"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>