﻿<div class="container-fluid">
     <div class="col-sm-offset-1 col-sm-8">
         <h1 class="opacity-header">Кредитный калькулятор</h1>
         <form>
             <fieldset>

                 <div class="form-group is-empty">
                     <label for="inputCredit" class="control-label">Выберите кредит</label>
                     <select class="form-control input-sm" id="inputCredit" ng-model="credit" required
                             ng-options="c.Name for c in _credits"></select>
                     <span class="material-input"></span>
                 </div>

                 <div class="form-group is-empty">
                     <label for="inputPeriod" class="control-label">Введите срок</label>
                     <input type="text" class="form-control input-sm" id="inputPeriod" ng-model="month" required>
                     <span class="material-input"></span>
                 </div>

                 <div class="form-group is-empty">
                     <label for="inputPercentRate" class="control-label">Процентная ставка</label>
                     <input type="text" class="form-control input-sm" id="inputPercentRate" ng-model="credit.PercentRate" disabled>
                     <span class="material-input"></span>
                 </div>

                 <div class="form-group is-empty">
                    <label for="inputType" class="control-label">Выберите расчет</label>
                    <select class="form-control input-sm" id="inputType" ng-model="type">
                        <option value="0">--------</option>
                        <option value="1">Расчет макс суммы</option>
                        <option value="2">Расчет необходимой прибыли</option>
                        <option value="3">Расчет плана платежей</option>
                    </select>
                    <span class="material-input"></span>
                </div>
            </fieldset>
        </form>

         <div>
             <div ng-show="type == 1">
                 <form>
                     <fieldset>

                         <div class="form-group is-empty">
                             <label for="incomeSum" class="control-label">Средняя прибыль за последние 3 месяца</label>
                             <input type="number" class="form-control input-sm" id="incomeSum" ng-model="incomeSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="otherCreditSum" class="control-label">Платежи по другим кредитам</label>
                             <input type="number" class="form-control input-sm" id="otherCreditSum" ng-model="otherCreditSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="utilSum" class="control-label">Платежи за коммунальные услуги</label>
                             <input type="number" class="form-control input-sm" id="utilSum" ng-model="utilSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="otherSum" class="control-label">Иные платежи</label>
                             <input type="number" class="form-control input-sm" id="otherSum" ng-model="otherSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="maxSum" class="control-label">Максимально возможная сумма</label>
                             <input type="number" class="form-control input-sm" id="maxSum" ng-model="maxSum" disabled>
                             <span class="material-input"></span>
                         </div>

                     </fieldset>
                 </form>
                 <button type="button" class="btn btn-default" ng-click="calc()">Расчитать</button>
             </div>

             <div ng-show="type == 2">
                 <form>
                     <fieldset>

                         <div class="form-group is-empty">
                             <label for="sum" class="control-label">Необходимая сумма</label>
                             <input type="number" class="form-control input-sm" id="sum" ng-model="sum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="otherCreditSum1" class="control-label">Платежи по другим кредитам</label>
                             <input type="number" class="form-control input-sm" id="otherCreditSum1" ng-model="otherCreditSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="utilSum1" class="control-label">Платежи за коммунальные услуги</label>
                             <input type="number" class="form-control input-sm" id="utilSum1" ng-model="utilSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="otherSum1" class="control-label">Иные платежи</label>
                             <input type="number" class="form-control input-sm" id="otherSum1" ng-model="otherSum" required>
                             <span class="material-input"></span>
                         </div>

                         <div class="form-group is-empty">
                             <label for="incomeReq" class="control-label">Необходимая прибыль</label>
                             <input type="number" class="form-control input-sm" id="incomeReq" ng-model="incomeReq" disabled>
                             <span class="material-input"></span>
                         </div>

                     </fieldset>
                 </form>
                 <button type="button" class="btn btn-default" ng-click="calc()">Расчитать</button>
             </div>

             <div ng-show="type == 3">
                <form>
                    <fieldset>

                        <div class="form-group is-empty">
                            <label for="sum1" class="control-label">Необходимая сумма</label>
                            <input type="number" class="form-control input-sm" id="sum1" ng-model="sum" required>
                            <span class="material-input"></span>
                        </div>

                    </fieldset>
                </form>
                 <button type="button" class="btn btn-default" ng-click="calc()">Расчитать</button>
             </div>

             <div ng-show="paymentsPlan">

                 <div class="table-responsive well">
                     <table class="table table-striped table-hover">
                         <thead>
                             <tr class="table-head">
                                 <td>Всего</td>
                                 <td>Сумма по основному долгу</td>
                                 <td>Сумма по процентам</td>
                                 <td>Дата платежа</td>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ng-repeat="payment in paymentPlan">
                                 <td>{{payment.MainSum + payment.PercentSum | number:0}}</td>
                                 <td>{{payment.MainSum | number:0}}</td>
                                 <td>{{payment.PercentSum | number:0}}</td>
                                 <td>{{payment.StartDate | date:"MMMM d, y"}}</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
            </div>
        </div>
     </div>
</div>