<div class="container-fluid">
    <div class="col-md-offset-4 col-sm-offset-2 col-xs-offset-1 col-md-4 col-sm-8 col-xs-10">
        <div class="well page active">
            <form class="login">
                <fieldset ng-show="!isLogin">
                    <legend>Пожалуйста, войдите в систему</legend>

                    <div class="form-group label-floating is-empty">
                        <label for="inputLogin" class="control-label">Логин</label>
                        <input type="text" class="form-control" id="inputLogin" ng-model="Name">
                        <span ng-show="errors['request.UserName']" class="material-input error">{{errors['request.UserName'][0]}}</span>
                    </div>

                    <div class="form-group label-floating is-empty">
                        <label for="inputPassword" class="control-label">Пароль</label>
                        <input type="password" class="form-control" id="inputPassword" ng-model="Password">
                        <span ng-show="errors['request.Password']" class="material-input error">{{errors['request.Password'][0]}}</span>
                    </div>

                    <div class="has-error" ng-show="errors.Message">
                        <label class="control-label">{{errors.Message}}</label>
                    </div>

                    <div class="form-group is-empty">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-primary" ng-click="login()">Войти</button>
                        </div>
                    </div>
                </fieldset>

                <fieldset ng-show="isLogin">
                    <h4>Вы вошли как {{Role}}</h4>
                    <legend class="opacity-header">Сменить пароль:</legend>

                    <div class="form-group label-floating is-empty">
                        <label for="pass.OldPassword" class="control-label">Старый пароль</label>
                        <input type="password" class="form-control" id="pass.OldPassword" ng-model="pass.OldPassword">
                        <span ng-show="errors['model.OldPassword']" class="material-input error">{{errors['model.OldPassword'][0]}}</span>
                    </div>

                    <div class="form-group label-floating is-empty">
                        <label for="pass.NewPassword" class="control-label">Новый пароль</label>
                        <input type="password" class="form-control" id="pass.NewPassword" ng-model="pass.NewPassword">
                        <span ng-show="errors['model.NewPassword']" class="material-input error">{{errors['model.NewPassword'][0]}}</span>
                    </div>

                    <div class="form-group label-floating is-empty">
                        <label for="pass.ConfirmPassword" class="control-label">Подтверждение нового пароля</label>
                        <input type="password" class="form-control" id="pass.ConfirmPassword" ng-model="pass.ConfirmPassword">
                        <span ng-show="pass.NewPassword != pass.ConfirmPassword" class="material-input error">Пароли не совпадают</span>
                    </div>

                    <div class="has-error" ng-show="errors['']">
                        <label class="control-label">{{errors[''][0]}}</label>
                    </div>

                    <div class="has-error" ng-show="successInfo">
                        <label class="control-label">{{successInfo}}</label>
                    </div>

                    <div class="form-group is-empty">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" ng-click="changePass()">Сменить пароль</button>
                            <button type="button" class="btn btn-primary" ng-click="logout()">Выйти</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
