﻿<div class="container-fluid">
    <div class="col-sm-offset-1 col-sm-10">
        <h1 class="opacity-header">Управление депозитами</h1>
        <a href="javascript:void(0)" class="btn btn-danger btn-fab btn-add" ng-click="open(deposit)"><i class="material-icons">+</i></a>
        <div class="table-responsive well">
            <table class="table table-striped table-hover custom-table">
                <thead>
                    <tr class="table-head">
                        <td>Название</td>
                        <td>Процентная ставка</td>
                        <td>Минимальная сумма</td>
                        <td>Максимальная сумма</td>
                        <td>Минимальный срок</td>
                        <td>Максимальный срок</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="deposit in _gridOptions.Items">
                        <td ng-click="open(deposit.Id)">{{deposit.Name}}</td>
                        <td>{{deposit.InterestRate}}</td>
                        <td>{{deposit.MinSum + ' BYR'}}</td>
                        <td>{{deposit.MaxSum + ' BYR'}}</td>
                        <td>{{deposit.MinMonthPeriod + ' мес.'}}</td>
                        <td>{{deposit.MaxMonthPeriod + ' мес.'}}</td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-warning btn-fab btn-fab-mini" ng-click="confirm(deposit.Id)">
                                <i class="material-icons glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <uib-pagination total-items="_gridOptions.TotalItemCount"
                        ng-model="_currentPage" max-size="5"
                        class="pagination pagination-lg"
                        previous-text="«" next-text="»"
                        rotate="false" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>
