<div class="modal-header">
    <h3>Редактирование</h3>
</div>
<div class="modal-body">
    <table>
        <tr>
            <td><label>Название</label></td>
            <td><input type="text" ng-model="deposit.Name" required /></td>
        </tr>

        <tr>
            <td><label>Процент</label></td>
            <td><input type="text" ng-model="deposit.InterestRate" required /></td>
        </tr>
        <tr>
            <td><label>Минимальная сумма</label></td>
            <td><input type="text" ng-model="deposit.MinSum" required /></td>
        </tr>
        <tr>
            <td><label>Максимальная сумма</label></td>
            <td><input type="text" ng-model="deposit.MaxSum" required /></td>
        </tr>
        <tr>
            <td><label>Минимальный срок</label></td>
            <td><input type="text" ng-model="deposit.MinMonthPeriod" required /></td>
        </tr>
        <tr>
            <td><label>Максимальный срок</label></td>
            <td><input type="text" ng-model="deposit.MaxMonthPeriod" required /></td>
        </tr>
        <tr>
            <td><label>Описаниет</label></td>
            <td><textarea ng-model="deposit.Description" required></textarea></td>
        </tr>
    </table>

    <input class="btn btn-primary" value="Ok" type="button" ng-click="ok()" />
    <input class="btn btn-warning" value="Отмена" type="button" ng-click="cancel()" />
</div>