<div>
    <div><h1>Управление кредитами</h1></div>
    <div><input type="button" value="Добавить новый" ng-click="open(credit)" /></div>
    <table class="table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Процентная ставка</td>
                <td>Минимальная сумма</td>
                <td>Максимальная сумма</td>
                <td>Минимальный срок</td>
                <td>Максимальный срок</td>
                <td>Тип выплат</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="credit in _credits">
                <td ng-click="open(credit.Id)">{{credit.Name}}</td>
                <td>{{credit.PercentRate}}</td>
                <td>{{credit.MinSum + ' BYR'}}</td>
                <td>{{credit.MaxSum + ' BYR'}}</td>
                <td>{{credit.MinMonthPeriod + ' м.'}}</td>
                <td>{{credit.MaxMonthPeriod + ' м.'}}</td>
                <td>{{credit.PaymentType.Name}}</td>
                <td><input type="button" value="del" ng-click="_delete(credit.Id)"></td>
            </tr>

        </tbody>
    </table> 
</div>
