<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title" ng-if="credit.Id">Редактирование</h4>
    <h4 class="modal-title" ng-if="!credit.Id">Добавить кредит</h4>
</div>
<div class="modal-body">
    <form>
        <fieldset>

            <div class="form-group is-empty">
                <label for="inputName" class="control-label">Название</label>
                <input type="text" class="form-control input-sm" id="inputName" ng-model="credit.Name" required>
                <span ng-show="errors['creditModel.Name']" class="material-input error">{{errors['creditModel.Name'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputPercent" class="control-label">Процентная ставка</label>
                <input type="text" class="form-control input-sm" id="inputPercent" ng-model="credit.PercentRate" required>
                <span ng-show="errors['creditModel.PercentRate']" class="material-input error">{{errors['creditModel.PercentRate'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputMinSum" class="control-label">Минимальная сумма</label>
                <input type="text" class="form-control input-sm" id="inputMinSum" ng-model="credit.MinSum" required>
                <span ng-show="errors['creditModel.MinSum']" class="material-input error">{{errors['creditModel.MinSum'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputMaxSum" class="control-label">Максимальная сумма</label>
                <input type="text" class="form-control input-sm" id="inputMaxSum" ng-model="credit.MaxSum" required>
                <span ng-show="errors['creditModel.MaxSum']" class="material-input error">{{errors['creditModel.MaxSum'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputMinMonthPeriod" class="control-label">Минимальный срок (в месяцах)</label>
                <input type="text" class="form-control input-sm" id="inputMinMonthPeriod" ng-model="credit.MinMonthPeriod" required>
                <span ng-show="errors['creditModel.MinMonthPeriod']" class="material-input error">{{errors['creditModel.MinMonthPeriod'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputMaxMonthPeriod" class="control-label">Максимальный срок (в месяцах)</label>
                <input type="text" class="form-control input-sm" id="inputMaxMonthPeriod" ng-model="credit.MaxMonthPeriod" required>
                <span ng-show="errors['creditModel.MaxMonthPeriod']" class="material-input error">{{errors['creditModel.MaxMonthPeriod'][0]}}</span>
            </div>

            <div class="form-group is-empty">
                <label for="inputDescription" class="control-label">Описание</label>
                <textarea class="form-control input-sm" id="inputDescription" ng-model="credit.Description" required>
                </textarea>
                <span ng-show="errors['creditModel.Description']" class="material-input error">{{errors['creditModel.Description'][0]}}</span>
            </div>

        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Применить</button>
</div>