<div>
    
    <table>
        <tr>
            <td><p>Nickname</p></td>
            <td><input type="text" ng-model="info.UserName" required/></td>
        </tr>
        <tr>
            <td><p>E-mail</p></td>
            <td><input type="email" ng-model="info.Email" required /></td>
        </tr>
        <tr>
            <td><p>Фамилия</p></td>
            <td><input type="text" ng-model="info.LastName" required /></td>
        </tr>
        <tr>
            <td><p>Имя</p></td>
            <td><input type="text" ng-model="info.FirstName" required /></td>
        </tr>
        
        <tr>
            <td><p>Отчество</p></td>
            <td><input type="text" ng-model="info.Patronymic" /></td>
        </tr>
        <tr>
            <td><p>Дата рождения</p></td>
            <td class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="info.DateOfBirth" is-open="opened"
                       ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </td>
        </tr>
        <tr>
            <td><p>Тип документа</p></td>
            <td><input type="text" disabled value="Паспорт" required /></td>
        </tr>
        <tr>
            <td><p>Идентификационный номер</p></td>
            <td><input type="text" ng-model="info.IdentificationNumber" required /></td>
        </tr>
        <tr>
            <td><p>Страна</p></td>
            <td><input type="text" ng-model="info.Address.Country" required /></td>
        </tr>
        <tr>
            <td><p>Город</p></td>
            <td><input type="text" ng-model="info.Address.City" required /></td>
        </tr>
        <tr>
            <td><p>Улица</p></td>
            <td><input type="text" ng-model="info.Address.Street" required /></td>
        </tr>
        <tr>
            <td><p>Дом</p></td>
            <td><input type="text" ng-model="info.Address.House" required /></td>
        </tr>
        <tr>
            <td><p>Квартира</p></td>
            <td><input type="text" ng-model="info.Address.Flat" /></td>
        </tr>
        <tr>
            <td><p>Пароль</p></td>
            <td><input type="text" ng-model="info.Password" required /></td>
        </tr>
        <tr>
            <td><p>Подтверждение пароля</p></td>
            <td><input type="text" ng-model="info.ConfirmPassword" required /></td>
        </tr>
    </table>
    <button ng-click="register()">Зарегистрироваться</button>
</div>
